<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<#if cssfilename != "CHANGE THIS VALUE">
<link rel="stylesheet" href="${cssfilename}" type="text/css" />
</#if>
<title>${servername}</title>
</head>
<#if backgroundimagefilename != "CHANGE THIS VALUE">
<body background="${backgroundimagefilename}">
<#else>
<body>
</#if>
<strong>${serverpretext}</strong><br />${serverversion}<br /><br />
<strong>${pluginspretext}</strong><br />
${plugins}
<br />
<br />
${lastupdated}
<br />
${pluginnamebranding}
</body>
</html>
